<div class="container">
    <div class="card border-primary mb-3" style="max-width: 80rem; margin-left: 50px; margin-top: 10px;">
        <div class="card-header"> Gallery Components</div>
         <div class="card-body text-dark">
        <form #f="ngForm" (ngSubmit)="onSearch(f.value)">
        <div class="form-group">
        <label>Mot Clé:</label>
        <input type="text" name="motCle" ngModel required [(ngModel)]="motCle">
        <button type="submit" class="btn btn-primary">Chercher</button>
        </div>
        </form>
        <div class="row">
        <div class="col-md-3" *ngFor="let p of pagePhotos?.hits" style="margin-top: 10px;">
        <div class="card border-primary mb-3 cadre">
        <div class="card-header">
        <img class="rounded-circle" src="{{p.userImageURL}}" width="50" height="50">
        </div>
        <div class="card-body text-dark">
        <img src="{{p.previewURL}}">
        </div>
        </div>
        </div>
        <div class="row">
        <ul class="nav nav-pills">
          <li [ngClass]="{'active':currentPage==(i+1)}" *ngFor="let page of pages; let i=index"  >
            <a  [ngClass]="{'active':currentPage==(i+1)}" class="nav-link" (click)="goToPage(i)">{{i}}</a>
          </li>  
        </ul>
        </div> 
      </div>
    </div>
</div>
